.about {
  padding-top: 50px;
  background:$thirdBackground;

  .wrapper {
    @include flex(row);
    background: $secondaryBackground;
    img {
      object-fit:contain;
      max-width:300px;
      
      position:relative;
      top:20px;
      right:5%;
    }
    .text {
      text-align:left;
      padding: 12%;
    }
  }

  .scrollDownArrow:focus {
    outline: 3px dotted white;
  }
}