footer {
  p {
    width: 100%;
    text-align:center;
    margin: 0;
    padding: 5px;
    background:$primaryText;
    color:$primaryBackground;
  }

  //Responsive Design for footer
  @media(max-width: 480px) {
    p {
      font-size: 1.1rem;
    }
  }
}