html {
  scroll-behavior: smooth;
}

body {
  color:$primaryText;
  overflow-x: hidden;
}

.wrapper {
  max-width:1170px;
  margin: 0 auto;
}

ul {
  padding: 0;
  list-style-type: none;
}

// Fonts!

h1, h2, h3, .topBar span {
  font-family: 'Bebas Neue';
}

p, li, a {
  font-family: 'Saira Extra Condensed', sans-serif;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
}

.knees {
  color: $primaryBackground;
  text-shadow: 1px 1px $primaryText
}
.too {
  color: $primaryBackground;
  text-shadow: 1px 1px $primaryText
}
.sharp {
  color: $primaryBackground;
  text-shadow: 1px 1px $primaryText
}
