.projects {
  padding: 50px 0 50px 0;
  background:$thirdBackground;

  h2 {
    padding: 6% 6% 5% 12%;
  }
  .wrapper {
    @include flex(column);
    background: $secondaryBackground;
    padding-bottom:80px;
  }

  .project {
    @include flex(row);
    flex-wrap: wrap;
    margin-bottom: 100px;

    .pictureLink {
      width:60%;

      &:hover,
      &:focus {
        animation: upDown 0.5s;
      }
    }
    .text {
      width:40%;
    }


    ul {
      @include flex(row);
      flex-wrap:wrap;
      justify-content:space-around;
    }

    .skillsUsed li {
      display:inline-block;
      margin:5px;
      width: calc(100% / 3 - 10px);
      font-size: 5rem;
      color:black;
      .firebase {
        position:relative;
        right: 10%;
      }
    }
  }

  .project5 {
    margin-bottom:0;
  }

  .project2 {
    @include flex(row-reverse);
    text-align:right;

    h3 {
      margin: 0 0 0 6%;
    }

    .firebase {
      position:relative;
      left: 10%;
    }

    .button{
      margin: 0 0 0 30px;
    }
  }

  .project4 {
    @include flex(row-reverse);
    text-align:right;

    h3 {
      margin: 0 0 0 6%;
    }

    .firebase {
      position:relative;
      left: 10%;
    }

    .button{
      margin: 0 0 0 30px;
    }
  }
}

@keyframes upDown {
  0%{
    transform:translateY(0)
  }
  50% {
    transform:translateY(-10px);
  }
  100% {
    transform:translateY(0);
  }
}