.projects {
  padding: 50px 0 50px 0;
  background:$thirdBackground;

  h2 {
    padding: 6% 6% 5% 12%;
  }
  .wrapper {
    @include flex(column);
    background: $secondaryBackground;
    padding-bottom:80px;
  }

  .project {
    @include flex(row);
    flex-wrap: wrap;
    margin-bottom: 100px;

    .pictureLink {
      width:60%;

      &:hover,
      &:focus {
        animation: upDown 0.5s;
      }

      &:focus {
        outline:3px dotted $secondaryText;
      }
    }
    .text {
      width:40%;
    }

    ul {
      @include flex(row);
      flex-wrap:wrap;
      justify-content:flex-start;
      margin: 0 6 0 0%;
    }

    .skillsUsed li {
      @include flexCenter(row);
      margin:5px 0;
      width: calc(100% / 4 - 10px);
      font-size: 5rem;
      color:black;
      .jqueryIcon {
        max-width:96px;
        max-height:96px;
        transform:scale(0.85);
        position:relative;
      }
      
    }
  }

  .project5 {
    margin-bottom:0;
  }

  .project2 {
    @include flex(row-reverse);
    text-align:right;

    h3 {
      margin: 0 0 0 6%;
    }

    p {
      margin: 24px 0 24px 6%;
    }

    ul {
      justify-content: flex-end;
    }

    .firebase {
      position:relative;
      left: 10%;
    }

    .button{
      margin: 0 0 0 30px;
    }
  }

  .project4 {
    @include flex(row-reverse);
    text-align:right;

    h3 {
      margin: 0 0 0 6%;
    }

    p {
      margin: 24px 0 24px 6%;
    }

    ul {
      justify-content: flex-end;
    }

    .firebase {
      position:relative;
      left: 10%;
    }

    .button{
      margin: 0 0 0 30px;
    }
  }

  //Responsive design for project section
  @media (max-width: 820px) {
    h2 {
      text-align: center;
      padding: 20px;
    }
    .project {
      @include flexCenter(column);
      .pictureLink {
        width: 80%;
      }
      .text {
        width: 80%;
        text-align: center;

        h3 {
          margin: 10px;
        }
      }
      ul {
        @include flexCenter(row);
      }

      .button {
        margin: 0 10px 0 10px;
      }
    }

    .project2,
    .project4 {
      p {
        margin: 24px 0 24px 0;
      }
    }
  }
  @media (max-width: 450px) {
    .project {

      .skillsUsed li {
        width: calc(100% / 3 - 10px);
      }

      .button {
        min-width: 140px;
        margin-top: 5px;
      }
    }
  }
}

@keyframes upDown {
  0%{
    transform:translateY(0)
  }
  50% {
    transform:translateY(-10px);
  }
  100% {
    transform:translateY(0);
  }
}