body {

  // Social Media Side Bar
  .emailSMSide {
    margin: 0;
    @include flex(column);
    position:fixed;
    top:50%;
    left:10%;
    transform: translate(-50%, -50%);

    li {
      @include flexCenter(row);
      position: relative;
      
      p {
        position:absolute;
        opacity:0;
        z-index:0;
        transition: all 0.5s;
        color: $primaryText;
        text-shadow: 0px 0px 3px $secondaryBackground;
        font-size: 1.4rem;
        font-weight: bold;
        bottom:0;
      }
      a{
        opacity:1;
        font-size: 3rem;
        margin: 10px;
        color: $primaryText;
        z-index:10;
        text-shadow: 0px 0px 6px $secondaryBackground;
        border-radius:50%;
        background:none;
        transition: all 0.5s;
      }
    }

    li:hover,
    li:focus {
      a {
        opacity: 0.1;
      }
      p {
        opacity: 1;
      }
    }
  }

  //Navigation Side Bar

  .sideNav {
    margin:0;
    
    @include flex(column);
    position:fixed;
    top:50%;
    right:5%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;

    li {
      @include flexCenter(row);
      position: relative;
  
      p {
        position:absolute;
        z-index:0;
        transition: all 0.2s;
        color: $primaryText;
        text-shadow: 0px 0px 3px $secondaryBackground;
        font-size: 1.4rem;
        font-weight: bold;
        transform:scale(1);
        text-transform: uppercase;
        bottom:0;
      }
      a{
        opacity:0.1;
        font-size: 3rem;
        margin: 10px;
        color: $primaryText;
        z-index:10;
        text-shadow: 0px 0px 6px $secondaryBackground;
        border-radius:50%;
        background:none;
        transition: all 0.5s;
      }
    }

    li:hover,
    li:focus {
      a {
        opacity: 0;
      }
      p {
        transform:scale(1.25);
        font-weight: bold;
        text-shadow: 0px 0px 3px $secondaryBackground;
      }
    }
  }

  .disabled {
    display:none;
    opacity:0;
  }

  .enabled {
    display:block;
    animation: appear 0.5s;
    animation-fill-mode:forwards;
  }

  .hamburger {
    font-size: 3rem;
    margin:0;
    padding: 20px;
    z-index: 1000;
    position:fixed;
    top:3%;
    right:3%;
    color: $primaryText;
    text-shadow: 2px 2px $primaryBackground;
    display:none;
    cursor: pointer;
  }

  .exitMenu {
    font-size: 3rem;
    margin:0;
    padding: 20px;
    z-index: 1002;
    position:fixed;
    top:3%;
    right:3%;
    color: $primaryText;
    text-shadow: 2px 2px $primaryBackground;
    cursor: pointer;
  }

  @keyframes appear {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }


  @media (max-width: 1577px) {
    .emailSMSide {
      left: 6%;
    }
    .sideNav {
      right: 0;
    }
  }

  @media (max-width: 1421px) {
    .emailSMSide {
      display:none;
    }
    .hamburger,
    .exitMenu {
      top:0;
      right:0;
    }
    .menuGone {
      width: 100vw;
      height: 100vh;
      margin: 0 auto;
      left: -100%;
      right: 0;
      background:$primaryBackground;
      @include flexCenter(column);
      z-index: 1001;
    }
    .menuHere {
      width: 100vw;
      height: 100vh;
      margin: 0 auto;
      left: 50%;
      right: 0;
      background:$primaryBackground;
      @include flexCenter(column);
      z-index: 1001;
    }
    .enable {
      animation: appear 0.5s;
      display: block;
    }
  }
}