.topBar {
  @include flex(row);
  justify-content: space-between;
  align-items: center;
  z-index:1000;
  img{
    max-width:100px;
    object-fit:contain;
  }
  // Nav Bar Stuff
  nav ul {
    @include flex(row);
    align-items: center;

    li {
      a {
        color: $primaryText;
        margin: 10px;
        padding: 2px 5px 2px 5px;
        font-weight: bold;
        font-size: 1.4rem;
        outline: 0 solid $primaryText;
        position:relative;
        transition: all 0.5s;
        
      }
      background:inherit;
      transform:scale(1);
      transition: all 0.5s;
    }

    a:focus,
    a:hover {
      display: inline-block;
      transform:scale(1.3);
      outline:1px solid $thirdBackground;
      background: $primaryText;
      color: $primaryBackground;
    }
  }

  // Logo Text
  h3 {
    font-size: 0;

    .knees,
    .too,
    .sharp {
      font-size: 2rem;
    }
  }
}