html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
  max-width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #0d2e63;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

ul {
  padding: 0;
  list-style-type: none;
}

h1, h2, h3, h4, .topBar span {
  font-family: 'Bebas Neue';
}

p, li, a {
  font-family: 'Saira Extra Condensed', sans-serif;
}

p {
  line-height: 1.4;
  font-size: 1.5rem;
}

h2 {
  font-size: 2rem;
  margin: 0;
  color: #0d2e63;
}

h3 {
  font-size: 1.8rem;
  margin: 0;
  border-bottom: 1px solid #0d2e63;
  color: #275c90;
  margin-right: 6%;
}

h4 {
  font-size: 1.7rem;
  margin: 0;
  color: #0d2e63;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
}

.knees {
  color: #d5eaef;
  text-shadow: 1px 1px #0d2e63;
}

.too {
  color: #d5eaef;
  text-shadow: 1px 1px #0d2e63;
}

.sharp {
  color: #d5eaef;
  text-shadow: 1px 1px #0d2e63;
}

.button {
  display: inline-block;
  position: relative;
  margin-right: 30px;
}

.button a {
  text-align: center;
  display: block;
  text-decoration: none;
  color: #d5eaef;
  background: #275c90;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 10px 30px 10px 30px;
  width: 100%;
  font-size: 1.6rem;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(1) rotate(0);
          transform: scale(1) rotate(0);
}

.button a:focus,
.button a:hover {
  -webkit-animation: wiggleFlash 0.5s;
          animation: wiggleFlash 0.5s;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

@-webkit-keyframes wiggleFlash {
  0% {
    -webkit-transform: scale(1) rotate(-5deg);
            transform: scale(1) rotate(-5deg);
    background: #275c90;
    color: #d5eaef;
  }
  50% {
    -webkit-transform: scale(1.15) rotate(5deg);
            transform: scale(1.15) rotate(5deg);
    color: #0d2e63;
    -webkit-box-shadow: 2px 2px #275c90, -2px -2px #275c90;
            box-shadow: 2px 2px #275c90, -2px -2px #275c90;
    background: white;
  }
  100% {
    -webkit-transform: scale(1.25) rotate(0deg);
            transform: scale(1.25) rotate(0deg);
    background: #275c90;
    color: #d5eaef;
  }
}

@keyframes wiggleFlash {
  0% {
    -webkit-transform: scale(1) rotate(-5deg);
            transform: scale(1) rotate(-5deg);
    background: #275c90;
    color: #d5eaef;
  }
  50% {
    -webkit-transform: scale(1.15) rotate(5deg);
            transform: scale(1.15) rotate(5deg);
    color: #0d2e63;
    -webkit-box-shadow: 2px 2px #275c90, -2px -2px #275c90;
            box-shadow: 2px 2px #275c90, -2px -2px #275c90;
    background: white;
  }
  100% {
    -webkit-transform: scale(1.25) rotate(0deg);
            transform: scale(1.25) rotate(0deg);
    background: #275c90;
    color: #d5eaef;
  }
}

.topBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.topBar img {
  max-width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}

.topBar nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topBar nav ul li {
  background: inherit;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.topBar nav ul li a {
  color: #0d2e63;
  margin: 10px;
  padding: 2px 5px 2px 5px;
  font-weight: bold;
  font-size: 1.4rem;
  outline: 0 solid #0d2e63;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.topBar nav ul a:focus,
.topBar nav ul a:hover {
  display: inline-block;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  outline: 1px solid #8eb8c4;
  background: #0d2e63;
  color: #d5eaef;
}

.topBar h3 {
  font-size: 0;
}

.topBar h3 .knees,
.topBar h3 .too,
.topBar h3 .sharp {
  font-size: 2rem;
}

header {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 28, 35, 0.267)), to(rgba(8, 28, 35, 0))), url("../assets/background.jpg");
  background: linear-gradient(to bottom, rgba(8, 28, 35, 0.267), rgba(8, 28, 35, 0)), url("../assets/background.jpg");
  background-position: center;
  background-size: 250% 250%;
  background-repeat: none;
}

header .wrapper {
  height: 100%;
  padding: 10px 100px 10px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

header .wrapper .topBar {
  height: 10%;
  z-index: 1000;
}

header .wrapper .text {
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  bottom: 10%;
  z-index: 0;
}

header .wrapper .text h1 {
  font-size: 5rem;
  margin: 0px;
}

header .wrapper .text h2 {
  font-size: 3rem;
  margin: 0px 0px 5px 0px;
}

header .wrapper .scrollDownArrow {
  max-width: 50px;
  position: absolute;
  bottom: 20px;
  left: calc(50% - 25px);
  -webkit-animation: bob 0.5s ease-out infinite;
          animation: bob 0.5s ease-out infinite;
}

header .wrapper .scrollDownArrow:hover,
header .wrapper .scrollDownArrow:focus {
  cursor: pointer;
  outline: 1px solid #d5eaef;
}

header .firstLine {
  opacity: 0;
  color: #0d2e63;
  -webkit-animation: flashIn 0.5s ease 4.2s;
          animation: flashIn 0.5s ease 4.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

header .firstLine span {
  display: inline-block;
}

header .mainLine .knees, header .mainLine .too, header .mainLine .sharp {
  display: inline-block;
  opacity: 0;
}

header .mainLine .knees {
  -webkit-animation: flyIn1 1s ease 0.3s;
          animation: flyIn1 1s ease 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

header .mainLine .too {
  -webkit-animation: flyIn6 1s ease 1.3s;
          animation: flyIn6 1s ease 1.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

header .mainLine .sharp {
  -webkit-animation: flyIn9 1s ease 1.9s;
          animation: flyIn9 1s ease 1.9s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

header .mainLine .letter {
  display: inline-block;
  opacity: 0;
}

header .mainLine .firstWord .letter2 {
  -webkit-animation: flyIn2 1s ease 0.5s;
          animation: flyIn2 1s ease 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

header .mainLine .firstWord .letter3 {
  -webkit-animation: flyIn3 1s ease 0.7s;
          animation: flyIn3 1s ease 0.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

header .mainLine .firstWord .letter4 {
  -webkit-animation: flyIn4 1s ease 0.9s;
          animation: flyIn4 1s ease 0.9s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

header .mainLine .firstWord .letter5 {
  -webkit-animation: flyIn5 1s ease 1.1s;
          animation: flyIn5 1s ease 1.1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

header .mainLine .secondWord .letter2 {
  -webkit-animation: flyIn7 1s ease 1.5s;
          animation: flyIn7 1s ease 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

header .mainLine .secondWord .letter3 {
  -webkit-animation: flyIn8 1s ease 1.7s;
          animation: flyIn8 1s ease 1.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

header .mainLine .thirdWord .letter2 {
  -webkit-animation: flyIn10 1s ease 2.1s;
          animation: flyIn10 1s ease 2.1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

header .mainLine .thirdWord .letter3 {
  -webkit-animation: flyIn11 1s ease 2.3s;
          animation: flyIn11 1s ease 2.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

header .mainLine .thirdWord .letter4 {
  -webkit-animation: flyIn12 1s ease 2.5s;
          animation: flyIn12 1s ease 2.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

header .mainLine .thirdWord .letter5 {
  -webkit-animation: flyIn13 1s ease 2.7s;
          animation: flyIn13 1s ease 2.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

header img.thirdLine {
  opacity: 0;
  -webkit-animation: hireMe 1s linear 0.3s;
          animation: hireMe 1s linear 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 200px;
  position: absolute;
  top: 50%;
  -webkit-transform: scale(6);
          transform: scale(6);
}

@-webkit-keyframes flashIn {
  0% {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
    color: #d5eaef;
    text-shadow: 2px solid goldenrod;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    color: #0d2e63;
    text-shadow: none;
    opacity: 1;
  }
}

@keyframes flashIn {
  0% {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
    color: #d5eaef;
    text-shadow: 2px solid goldenrod;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    color: #0d2e63;
    text-shadow: none;
    opacity: 1;
  }
}

@-webkit-keyframes flyIn1 {
  0% {
    -webkit-transform: translate(-1000px, -1000px);
            transform: translate(-1000px, -1000px);
    color: #0d2e63;
    text-shadow: none;
    opacity: 1;
  }
  40% {
    -webkit-transform: translate(-500px, -500px);
            transform: translate(-500px, -500px);
  }
  80% {
    -webkit-transform: translate(0) scale(2);
            transform: translate(0) scale(2);
    color: #275c90;
    text-shadow: 2px solid goldenrod;
  }
  100% {
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
    color: #d5eaef;
    text-shadow: 0 0 6px #0d2e63ce;
    opacity: 1;
  }
}

@keyframes flyIn1 {
  0% {
    -webkit-transform: translate(-1000px, -1000px);
            transform: translate(-1000px, -1000px);
    color: #0d2e63;
    text-shadow: none;
    opacity: 1;
  }
  40% {
    -webkit-transform: translate(-500px, -500px);
            transform: translate(-500px, -500px);
  }
  80% {
    -webkit-transform: translate(0) scale(2);
            transform: translate(0) scale(2);
    color: #275c90;
    text-shadow: 2px solid goldenrod;
  }
  100% {
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
    color: #d5eaef;
    text-shadow: 0 0 6px #0d2e63ce;
    opacity: 1;
  }
}

@-webkit-keyframes flyIn2 {
  0% {
    -webkit-transform: translate(0) scale(2);
            transform: translate(0) scale(2);
    -webkit-transform: translate(-850px, -1000px);
            transform: translate(-850px, -1000px);
    color: #0d2e63;
    text-shadow: none;
    opacity: 1;
  }
  40% {
    -webkit-transform: translate(-425px, -500px);
            transform: translate(-425px, -500px);
  }
  80% {
    -webkit-transform: translate(0) scale(2);
            transform: translate(0) scale(2);
    color: #275c90;
    text-shadow: 2px solid #0d2e63;
  }
  100% {
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
    color: #d5eaef;
    text-shadow: 0 0 6px #0d2e63ce;
    opacity: 1;
  }
}

@keyframes flyIn2 {
  0% {
    -webkit-transform: translate(0) scale(2);
            transform: translate(0) scale(2);
    -webkit-transform: translate(-850px, -1000px);
            transform: translate(-850px, -1000px);
    color: #0d2e63;
    text-shadow: none;
    opacity: 1;
  }
  40% {
    -webkit-transform: translate(-425px, -500px);
            transform: translate(-425px, -500px);
  }
  80% {
    -webkit-transform: translate(0) scale(2);
            transform: translate(0) scale(2);
    color: #275c90;
    text-shadow: 2px solid #0d2e63;
  }
  100% {
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
    color: #d5eaef;
    text-shadow: 0 0 6px #0d2e63ce;
    opacity: 1;
  }
}

@-webkit-keyframes flyIn3 {
  0% {
    -webkit-transform: translate(-750px, -1000px);
            transform: translate(-750px, -1000px);
    color: #0d2e63;
    text-shadow: none;
    opacity: 1;
  }
  40% {
    -webkit-transform: translate(-375px, -500px);
            transform: translate(-375px, -500px);
  }
  80% {
    -webkit-transform: translate(0) scale(2);
            transform: translate(0) scale(2);
    color: #275c90;
    text-shadow: 2px solid goldenrod;
  }
  100% {
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
    color: #d5eaef;
    text-shadow: 0 0 6px #0d2e63ce;
    opacity: 1;
  }
}

@keyframes flyIn3 {
  0% {
    -webkit-transform: translate(-750px, -1000px);
            transform: translate(-750px, -1000px);
    color: #0d2e63;
    text-shadow: none;
    opacity: 1;
  }
  40% {
    -webkit-transform: translate(-375px, -500px);
            transform: translate(-375px, -500px);
  }
  80% {
    -webkit-transform: translate(0) scale(2);
            transform: translate(0) scale(2);
    color: #275c90;
    text-shadow: 2px solid goldenrod;
  }
  100% {
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
    color: #d5eaef;
    text-shadow: 0 0 6px #0d2e63ce;
    opacity: 1;
  }
}

@-webkit-keyframes flyIn4 {
  0% {
    -webkit-transform: translate(-500px, -1000px);
            transform: translate(-500px, -1000px);
    color: #0d2e63;
    text-shadow: none;
    opacity: 1;
  }
  40% {
    -webkit-transform: translate(-250px, -500px);
            transform: translate(-250px, -500px);
  }
  80% {
    -webkit-transform: translate(0) scale(2);
            transform: translate(0) scale(2);
    color: #275c90;
    text-shadow: 2px solid goldenrod;
  }
  100% {
    -webkit-transform: translate(1px, 1px) scale(1);
            transform: translate(1px, 1px) scale(1);
    color: #d5eaef;
    text-shadow: 0 0 6px #0d2e63ce;
    opacity: 1;
  }
}

@keyframes flyIn4 {
  0% {
    -webkit-transform: translate(-500px, -1000px);
            transform: translate(-500px, -1000px);
    color: #0d2e63;
    text-shadow: none;
    opacity: 1;
  }
  40% {
    -webkit-transform: translate(-250px, -500px);
            transform: translate(-250px, -500px);
  }
  80% {
    -webkit-transform: translate(0) scale(2);
            transform: translate(0) scale(2);
    color: #275c90;
    text-shadow: 2px solid goldenrod;
  }
  100% {
    -webkit-transform: translate(1px, 1px) scale(1);
            transform: translate(1px, 1px) scale(1);
    color: #d5eaef;
    text-shadow: 0 0 6px #0d2e63ce;
    opacity: 1;
  }
}

@-webkit-keyframes flyIn5 {
  0% {
    -webkit-transform: translate(-350px, -1000px);
            transform: translate(-350px, -1000px);
    color: #0d2e63;
    text-shadow: none;
    opacity: 1;
  }
  40% {
    -webkit-transform: translate(-175px, -500px);
            transform: translate(-175px, -500px);
  }
  80% {
    -webkit-transform: translate(0) scale(2);
            transform: translate(0) scale(2);
    color: #275c90;
    text-shadow: 2px solid goldenrod;
  }
  100% {
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
    color: #d5eaef;
    text-shadow: 0 0 6px #0d2e63ce;
    opacity: 1;
  }
}

@keyframes flyIn5 {
  0% {
    -webkit-transform: translate(-350px, -1000px);
            transform: translate(-350px, -1000px);
    color: #0d2e63;
    text-shadow: none;
    opacity: 1;
  }
  40% {
    -webkit-transform: translate(-175px, -500px);
            transform: translate(-175px, -500px);
  }
  80% {
    -webkit-transform: translate(0) scale(2);
            transform: translate(0) scale(2);
    color: #275c90;
    text-shadow: 2px solid goldenrod;
  }
  100% {
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
    color: #d5eaef;
    text-shadow: 0 0 6px #0d2e63ce;
    opacity: 1;
  }
}

@-webkit-keyframes flyIn6 {
  0% {
    -webkit-transform: translate(-140px, -1000px);
            transform: translate(-140px, -1000px);
    color: #0d2e63;
    text-shadow: none;
    opacity: 1;
  }
  40% {
    -webkit-transform: translate(-70px, -500px);
            transform: translate(-70px, -500px);
  }
  80% {
    -webkit-transform: translate(0) scale(2);
            transform: translate(0) scale(2);
    color: #275c90;
    text-shadow: 2px solid goldenrod;
  }
  100% {
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
    color: #d5eaef;
    text-shadow: 0 0 6px #0d2e63ce;
    opacity: 1;
  }
}

@keyframes flyIn6 {
  0% {
    -webkit-transform: translate(-140px, -1000px);
            transform: translate(-140px, -1000px);
    color: #0d2e63;
    text-shadow: none;
    opacity: 1;
  }
  40% {
    -webkit-transform: translate(-70px, -500px);
            transform: translate(-70px, -500px);
  }
  80% {
    -webkit-transform: translate(0) scale(2);
            transform: translate(0) scale(2);
    color: #275c90;
    text-shadow: 2px solid goldenrod;
  }
  100% {
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
    color: #d5eaef;
    text-shadow: 0 0 6px #0d2e63ce;
    opacity: 1;
  }
}

@-webkit-keyframes flyIn7 {
  0% {
    -webkit-transform: translate(0px, -1000px);
            transform: translate(0px, -1000px);
    color: #0d2e63;
    text-shadow: none;
    opacity: 1;
  }
  40% {
    -webkit-transform: translate(0px, -500px);
            transform: translate(0px, -500px);
  }
  80% {
    -webkit-transform: translate(0) scale(2);
            transform: translate(0) scale(2);
    color: #275c90;
    text-shadow: 2px solid goldenrod;
  }
  100% {
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
    color: #d5eaef;
    text-shadow: 0 0 6px #0d2e63ce;
    opacity: 1;
  }
}

@keyframes flyIn7 {
  0% {
    -webkit-transform: translate(0px, -1000px);
            transform: translate(0px, -1000px);
    color: #0d2e63;
    text-shadow: none;
    opacity: 1;
  }
  40% {
    -webkit-transform: translate(0px, -500px);
            transform: translate(0px, -500px);
  }
  80% {
    -webkit-transform: translate(0) scale(2);
            transform: translate(0) scale(2);
    color: #275c90;
    text-shadow: 2px solid goldenrod;
  }
  100% {
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
    color: #d5eaef;
    text-shadow: 0 0 6px #0d2e63ce;
    opacity: 1;
  }
}

@-webkit-keyframes flyIn8 {
  0% {
    -webkit-transform: translate(200px, -1000px);
            transform: translate(200px, -1000px);
    color: #0d2e63;
    text-shadow: none;
    opacity: 1;
  }
  40% {
    -webkit-transform: translate(100px, -500px);
            transform: translate(100px, -500px);
  }
  80% {
    -webkit-transform: translate(0) scale(2);
            transform: translate(0) scale(2);
    color: #275c90;
    text-shadow: 2px solid goldenrod;
  }
  100% {
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
    color: #d5eaef;
    text-shadow: 0 0 6px #0d2e63ce;
    opacity: 1;
  }
}

@keyframes flyIn8 {
  0% {
    -webkit-transform: translate(200px, -1000px);
            transform: translate(200px, -1000px);
    color: #0d2e63;
    text-shadow: none;
    opacity: 1;
  }
  40% {
    -webkit-transform: translate(100px, -500px);
            transform: translate(100px, -500px);
  }
  80% {
    -webkit-transform: translate(0) scale(2);
            transform: translate(0) scale(2);
    color: #275c90;
    text-shadow: 2px solid goldenrod;
  }
  100% {
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
    color: #d5eaef;
    text-shadow: 0 0 6px #0d2e63ce;
    opacity: 1;
  }
}

@-webkit-keyframes flyIn9 {
  0% {
    -webkit-transform: translate(350px, -1000px);
            transform: translate(350px, -1000px);
    color: #0d2e63;
    text-shadow: none;
    opacity: 1;
  }
  40% {
    -webkit-transform: translate(175px, -500px);
            transform: translate(175px, -500px);
  }
  80% {
    -webkit-transform: translate(0) scale(2);
            transform: translate(0) scale(2);
    color: #275c90;
    text-shadow: 2px solid goldenrod;
  }
  100% {
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
    color: #d5eaef;
    text-shadow: 0 0 6px #0d2e63ce;
    opacity: 1;
  }
}

@keyframes flyIn9 {
  0% {
    -webkit-transform: translate(350px, -1000px);
            transform: translate(350px, -1000px);
    color: #0d2e63;
    text-shadow: none;
    opacity: 1;
  }
  40% {
    -webkit-transform: translate(175px, -500px);
            transform: translate(175px, -500px);
  }
  80% {
    -webkit-transform: translate(0) scale(2);
            transform: translate(0) scale(2);
    color: #275c90;
    text-shadow: 2px solid goldenrod;
  }
  100% {
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
    color: #d5eaef;
    text-shadow: 0 0 6px #0d2e63ce;
    opacity: 1;
  }
}

@-webkit-keyframes flyIn10 {
  0% {
    -webkit-transform: translate(500px, -1000px);
            transform: translate(500px, -1000px);
    color: #0d2e63;
    text-shadow: none;
    opacity: 1;
  }
  40% {
    -webkit-transform: translate(250px, -500px);
            transform: translate(250px, -500px);
  }
  80% {
    -webkit-transform: translate(0) scale(2);
            transform: translate(0) scale(2);
    color: #275c90;
    text-shadow: 2px solid goldenrod;
  }
  100% {
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
    color: #d5eaef;
    text-shadow: 0 0 6px #0d2e63ce;
    opacity: 1;
  }
}

@keyframes flyIn10 {
  0% {
    -webkit-transform: translate(500px, -1000px);
            transform: translate(500px, -1000px);
    color: #0d2e63;
    text-shadow: none;
    opacity: 1;
  }
  40% {
    -webkit-transform: translate(250px, -500px);
            transform: translate(250px, -500px);
  }
  80% {
    -webkit-transform: translate(0) scale(2);
            transform: translate(0) scale(2);
    color: #275c90;
    text-shadow: 2px solid goldenrod;
  }
  100% {
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
    color: #d5eaef;
    text-shadow: 0 0 6px #0d2e63ce;
    opacity: 1;
  }
}

@-webkit-keyframes flyIn11 {
  0% {
    -webkit-transform: translate(650px, -1000px);
            transform: translate(650px, -1000px);
    color: #0d2e63;
    text-shadow: none;
    opacity: 1;
  }
  40% {
    -webkit-transform: translate(325px, -500px);
            transform: translate(325px, -500px);
  }
  80% {
    -webkit-transform: translate(0) scale(2);
            transform: translate(0) scale(2);
    color: #275c90;
    text-shadow: 2px solid goldenrod;
  }
  100% {
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
    color: #d5eaef;
    text-shadow: 0 0 6px #0d2e63ce;
    opacity: 1;
  }
}

@keyframes flyIn11 {
  0% {
    -webkit-transform: translate(650px, -1000px);
            transform: translate(650px, -1000px);
    color: #0d2e63;
    text-shadow: none;
    opacity: 1;
  }
  40% {
    -webkit-transform: translate(325px, -500px);
            transform: translate(325px, -500px);
  }
  80% {
    -webkit-transform: translate(0) scale(2);
            transform: translate(0) scale(2);
    color: #275c90;
    text-shadow: 2px solid goldenrod;
  }
  100% {
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
    color: #d5eaef;
    text-shadow: 0 0 6px #0d2e63ce;
    opacity: 1;
  }
}

@-webkit-keyframes flyIn12 {
  0% {
    -webkit-transform: translate(800px, -1000px);
            transform: translate(800px, -1000px);
    color: #0d2e63;
    text-shadow: none;
    opacity: 1;
  }
  40% {
    -webkit-transform: translate(400px, -500px);
            transform: translate(400px, -500px);
  }
  80% {
    -webkit-transform: translate(0) scale(2);
            transform: translate(0) scale(2);
    color: #275c90;
    text-shadow: 2px solid goldenrod;
  }
  100% {
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
    color: #d5eaef;
    text-shadow: 0 0 6px #0d2e63ce;
    opacity: 1;
  }
}

@keyframes flyIn12 {
  0% {
    -webkit-transform: translate(800px, -1000px);
            transform: translate(800px, -1000px);
    color: #0d2e63;
    text-shadow: none;
    opacity: 1;
  }
  40% {
    -webkit-transform: translate(400px, -500px);
            transform: translate(400px, -500px);
  }
  80% {
    -webkit-transform: translate(0) scale(2);
            transform: translate(0) scale(2);
    color: #275c90;
    text-shadow: 2px solid goldenrod;
  }
  100% {
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
    color: #d5eaef;
    text-shadow: 0 0 6px #0d2e63ce;
    opacity: 1;
  }
}

@-webkit-keyframes flyIn13 {
  0% {
    -webkit-transform: translate(1000px, -1000px);
            transform: translate(1000px, -1000px);
    color: #0d2e63;
    text-shadow: none;
    opacity: 1;
  }
  40% {
    -webkit-transform: translate(500px, -500px);
            transform: translate(500px, -500px);
  }
  80% {
    -webkit-transform: translate(0) scale(2);
            transform: translate(0) scale(2);
    color: #275c90;
    text-shadow: 2px solid goldenrod;
  }
  100% {
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
    color: #d5eaef;
    text-shadow: 0 0 6px #0d2e63ce;
    opacity: 1;
  }
}

@keyframes flyIn13 {
  0% {
    -webkit-transform: translate(1000px, -1000px);
            transform: translate(1000px, -1000px);
    color: #0d2e63;
    text-shadow: none;
    opacity: 1;
  }
  40% {
    -webkit-transform: translate(500px, -500px);
            transform: translate(500px, -500px);
  }
  80% {
    -webkit-transform: translate(0) scale(2);
            transform: translate(0) scale(2);
    color: #275c90;
    text-shadow: 2px solid goldenrod;
  }
  100% {
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
    color: #d5eaef;
    text-shadow: 0 0 6px #0d2e63ce;
    opacity: 1;
  }
}

@-webkit-keyframes hireMe {
  0% {
    -webkit-transform: scale(6);
            transform: scale(6);
    opacity: 0;
    z-index: 0;
  }
  75% {
    -webkit-transform: scale(6);
            transform: scale(6);
    opacity: 0.2;
    z-index: 0;
  }
  100% {
    -webkit-transform: scale(6);
            transform: scale(6);
    opacity: 0.4;
    z-index: 0;
  }
}

@keyframes hireMe {
  0% {
    -webkit-transform: scale(6);
            transform: scale(6);
    opacity: 0;
    z-index: 0;
  }
  75% {
    -webkit-transform: scale(6);
            transform: scale(6);
    opacity: 0.2;
    z-index: 0;
  }
  100% {
    -webkit-transform: scale(6);
            transform: scale(6);
    opacity: 0.4;
    z-index: 0;
  }
}

@-webkit-keyframes bob {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes bob {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.about {
  padding-top: 50px;
  background: #8eb8c4;
}

.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #d5eaefea;
}

.about .wrapper img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 300px;
  position: relative;
  top: 20px;
  right: 5%;
}

.about .wrapper .text {
  text-align: left;
  padding: 12%;
}

.projects {
  padding: 50px 0 50px 0;
  background: #8eb8c4;
}

.projects h2 {
  padding: 6% 6% 5% 12%;
}

.projects .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #d5eaefea;
  padding-bottom: 80px;
}

.projects .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 100px;
}

.projects .project .pictureLink {
  width: 60%;
}

.projects .project .pictureLink:hover, .projects .project .pictureLink:focus {
  -webkit-animation: upDown 0.5s;
          animation: upDown 0.5s;
}

.projects .project .text {
  width: 40%;
}

.projects .project ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.projects .project .skillsUsed li {
  display: inline-block;
  margin: 5px;
  width: calc(100% / 3 - 10px);
  font-size: 5rem;
  color: black;
}

.projects .project .skillsUsed li .firebase {
  position: relative;
  right: 10%;
}

.projects .project5 {
  margin-bottom: 0;
}

.projects .project2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: right;
}

.projects .project2 h3 {
  margin: 0 0 0 6%;
}

.projects .project2 .firebase {
  position: relative;
  left: 10%;
}

.projects .project2 .button {
  margin: 0 0 0 30px;
}

.projects .project4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: right;
}

.projects .project4 h3 {
  margin: 0 0 0 6%;
}

.projects .project4 .firebase {
  position: relative;
  left: 10%;
}

.projects .project4 .button {
  margin: 0 0 0 30px;
}

@-webkit-keyframes upDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes upDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
